#LR_4
# ігнорувати всі файли " *.a "
*.a
# Ігнорувати файл "/name_file" тільки в поточній теці, не в інших теках
# Ігнорувати усі файли в теці " LR_4/ "
# Ігнорувати " name_file.txt "
text.txt
# Ігнорувати усі .pdf файли в теці LR_4/ та всіх її підтеках
LR_4/**/*.pdf
